.cards{
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    height: 450px;
    width: min-content;
    background-color: #B5B5B5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.titleCards{
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-size: 25px;
    text-align: center;
    color: #000;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Wendy One', sans-serif;
    font-weight: 400; */
    -webkit-text-stroke: 0.05px #B5B5B5;
}

.dietsCards{
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-size: large;
    text-align: start;
    color: #515151;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Wendy One', sans-serif; */
    /* -webkit-text-stroke: 0.05px #000; */
    text-align: center;
    font-weight: bolder;
}

.cards img{
    border-radius: 15px;
}
.healthscore{
    font-family: 'Lato', sans-serif;
    font-family: 'Wendy One', sans-serif;
    font-size: 30px;
}